body { margin: 0; background-color: #000; overflow: hidden; font-family: sans-serif; }
#info {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    pointer-events: none;
    text-shadow: 1px 1px 2px black;
}